#main-notebook header.top {
	background-color:  #D9D9D9 ;
}

#main-notebook header.top tab:checked {
	border-bottom:     none ;
	background-color:  #FFFFFF ;
	color:             black ;
}

#main-notebook header.top tab:checked:hover {
	background-image:  linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 100% ) ;
	background-color:  #FFFFFF ;
}

#main-notebook header.top tab:not(checked) {
	border:              1px solid  #BDBDBD ;
	background-color:    #E9E9E9 ;
	color:               #696969 ;
}

#main-notebook header.top tab:not(checked):hover {
	background-image:  linear-gradient(to bottom, #92B372 0%, #92B372 10%, #E9E9E9 10% ) ;
}

#crystal-stock-crystal-figures-notebook header.top {
	background-color:  #FFFFFF ;
}
